page[size="A4"] {
  background: white;
  width: 23cm;
  height: 32.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.1cm;
}
@media print {
  body, page[size="A4"] {
    margin-top: -2px;
    margin-bottom: -0.2cm;
    margin-right: -0.4cm;
    margin-left: 0;
    box-shadow: 0;
  }
}