page[size="A4"] {
  background: white;
  width: 23cm;
  height: 32.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
}
@media print {
  body, page[size="A4"] {
    margin: 0;
    box-shadow: 0;
  }
}