page[size="A4"] {
  background: white;
  width: 23cm;
  height: 33cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.1cm;
}
@media print {
  body, page[size="A4"] {
    margin-top: -1px;
    margin-right: -0.2cm;
    margin-left: 0.5cm;
    box-shadow: 0;
  }
}