@page { size: A4 landscape }

#inicia-aplicacion{
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}
#contenido-aplicacion{
    z-index: 10;
}
.botones{
    color: white;
    background-color: blue;
    border-radius: 25px;
    padding: 20px;
}
